html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ahkio-Regular", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.entrance-page {
  width: 100%;
  min-height: 100vh;
  background: #9ed8f2;
  position: relative;
  display: flex;
  overflow: visible;
  height: auto;
  padding-top: 80px;
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 0;
}

.wave-svg svg {
  width: 100%;
  height: 100%;
}

.wave-svg path {
  fill: #279bd3;
}

.left-area,
.right-area {
  position: relative;
  z-index: 1;
  height: 100%;
}

.left-area {
  flex: 1.10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-area {
  flex: 0.90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0px;
}

.title-line1 {
  display: block;
  transform: translateX(-60px);  
}

.title-line2 {
  display: block;
  transform: translateX(30px); 
}

h1 {
  font-size: clamp(55px, 6vw, 100px);
  line-height: 0.5;
  margin: 200px 0 0 0;
  color: #004aad;
  font-weight: 900;
  font-family: "Ahkio-Regular", sans-serif;
  text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 3.5px;
}

p {
  color: white;
  font-size: 33px;
  font-weight: bold;
  font-family: "Ahkio-Regular", sans-serif;
  margin: 35px 0 70px;
  letter-spacing: 2.5px;
}

.start-btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  padding: 10px 22px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 5px 0 #c85c00;
  transition: all 0.15s ease;
}

.start-btn:hover {
  transform: translateY(-2px) scale(1.05);
}

.start-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #c85c00;
}

.gacha-img {
  width: 90%; 
  max-width: 800px; 
  min-width: 350px;
  height: auto;
  transform: translateY(-30px); 
  display: block;
  margin: 0 auto; 
  animation: gachaEnter 1s cubic-bezier(.18,.89,.32,1.28) forwards;
}

.info-section {
  min-height: 100vh;
  padding: 120px 10%;
  text-align: center;
  background: #9ed8f2;
  opacity: 0;
  transform: none;
}

.info-section.show {
  opacity: 1;
  transform: translateY(0);
}

#purpose {
  margin-top: -80px;
  padding-top: 160px;
  background: #9ed8f2;
}

#purpose h2 {
  font-size: 64px;
  color: #004aad;
  margin-bottom: 30px;
}

#purpose p {
  max-width: 850px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.7;
  color: #10233f;
}

#sdgs {
  background: #9ed8f2;
}

#sdgs h2 {
  font-size: 64px;
  color: #004aad;
  margin-bottom: 20px;
}

#sdgs p {
  font-size: 22px;
  color: #333;
}

.more-btn {
  position: relative;
  z-index: 10;
}

.sdg-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.sdg-icon {
  transition: 0.25s;
}

.sdg-icon:hover {
  transform: translateY(-10px) scale(1.08);
}

.sdg-icon img {
  width: 100%;
  max-width: 100px;
}


.info-box {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 80px auto;
  padding: 60px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(16px);

  box-shadow: 
    0 20px 50px rgba(0, 74, 173, 0.15),
    inset 0 0 0 1px rgba(255,255,255,0.4);

  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.info-section.show .info-box {
  opacity: 1;
  transform: translateY(0);
}

.info-box:hover {
  transform: translateY(-6px) scale(1.01);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;  
  right: 0;   
  width: 100%;  

  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;

  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(14px);

  box-shadow: 0 6px 20px rgba(0, 74, 173, 0.12);
}

@keyframes gachaEnter {
  from {
    opacity: 0;
    transform: translateY(80px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(-30px) scale(1);
  }
}

@media (max-width: 900px) {
  .entrance-page {
    flex-direction: column; 
    height: auto;
    min-height: 100vh;
  }

  .wave-svg {
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .left-area,
  .right-area {
    flex: 1; 
  }

  .gacha-img {
    width: 90%; 
    max-width: 100%; 
    height: auto;
    transform: none; 
  }

  .title-line1, 
  .title-line2 {
    transform: translateX(0);
    display: block;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 52px;
    line-height: 1.2;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  p {
    font-size: 24px;
    margin: 20px 0 40px;
    width: 90%;
    line-height: 1.4;
  }

  button {
    width: 200px;
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 50px; 
  }
}

.navbar {
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 999;

  display: flex;
  align-items: center;
  gap: 30px;

  padding: 12px 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #004aad;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.2s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #004aad;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  transform: translateY(-2px);
}



@media (max-width: 768px) {
  .navbar {
    top: 15px;
    right: 15px;
    gap: 15px;
    padding: 10px 15px;
  }

  .nav-links {
    gap: 15px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .play-btn {
    font-size: 14px;
    padding: 8px 14px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
}

