body {
  display: flex;
  justify-content: center;   /* 水平置中 */
  align-items: center;       /* 垂直置中 */
  height: 100vh;
  margin: 0;
  background-color: #57a0e6;
  color: white;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}